# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Django local database
db.sqlite3

# Environment / secret files
.env
.env.*

# Terraform working directory
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db